<% provide(:title, 'Delivery') %>
<h1>StaticPages#delivery</h1>
<p>Find me in app/views/static_pages/delivery.html.erb</p>
<div class="row">
  <div class="large-4 large-centered columns">
    <%= render 'postal_check' %>
  </div>
</div>
