<% provide(:title, 'Prices') %>
<h1>StaticPages#prices</h1>
<p>Find me in app/views/static_pages/prices.html.erb</p>
<div class="row">
  <div class="large-4 large-centered columns">
    <%= render 'postal_check' %>
  </div>
</div>
