<% provide(:title, 'Services') %>
<h1>StaticPages#services</h1>
<p>Find me in app/views/static_pages/services.html.erb</p>
<div class="row">
  <div class="large-4 large-centered columns">
    <%= render 'postal_check' %>
  </div>
</div>
