$(window).scrollTop(110);

$('.contact-form-wrapper').hide();

$('<div class="service-points-wrapper"> </div>').prependTo('.welcome-container');

$('.service-points-wrapper').html("<%= escape_javascript(render "shared/forms/service_point_form" ) %>");

$('.meter > span').css('width', '75%');

$('.percentage').text("75%");


//Parslyify form

$('#new_service_point').parsley( {

  validators: {

    remote: null,

    type: null

  }
  
});

// TRIGGER AJAX LOADER

$('#new_service_point').bind('ajax:before', function(){

  $('.welcome-loading').fadeIn('fast');

});

$('#new_service_point').bind('ajax:success', function(){

  $('.welcome-loading').fadeOut();

});