<a href="#" data-dropdown="drop1"><%= current_user.email %> <%= "(admin)" if current_user.admin?  %> </a>
<ul id="drop1" class="f-dropdown" data-dropdown-content>
  <li><%= link_to('My Account', account_path) %></li>
  <li><%= link_to('My Orders', account_orders_path) %></li>
  <li><%= link_to('Billing', account_billing_path) %></li>
  <li><%= link_to 'Tell a Friend', controller: :account, action: :tell_a_friend %></li>
  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
</ul> 