<%= form_for [current_user, @token], remote: true, :html => {:class => " cc-form"} do |f| %>
<% y = Time.now.year %>
  
  <div class="row">

    <div class="large-12 columns">

      <%= f.label :last_four, "Card Number" %>

      <%= f.telephone_field :last_four, autocomplete: "off", data: { trigger: "change", required: "true", :'required-message' => "Required" } %>

    </div>

  </div>

  <div class="row">
    
    <div class="large-12 columns">
      
      <%= f.label :exp_m, "Exp Date" %>

    </div>
  
  </div>
  
  <div class="row">
    
    <div class="large-6 small-6 columns">
      
      <%= f.select :exp_m, [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ], {:prompt => 'Mon'}, {data: { trigger: "change", required: "true", :'required-message' => "Required" }} %>
      
    </div>
    
    <div class="large-6 small-6 columns">
      
      <%= f.select :exp_y, [ "#{y}", "#{y+1}", "#{y+2}", "#{y+3}", "#{y+4}", "#{y+5}", "#{y+6}", "#{y+7}", "#{y+8}", "#{y+9}", "#{y+10}", "#{y+11}", "#{y+12}" ], {:prompt => 'Year'}, {data: { trigger: "change", required: "true", :'required-message' => "Required" }} %>

    </div>

  </div>  
  
  <%= f.submit "Add Card", :class => 'button small right tertiary' %>

<% end %>