<h3>Billing Preference</h3>

<div class="row">
  
  <div class="large-6 columns cc-column center">
    
    <% if current_user.tokens.any? %>

      <%= render 'shared/buttons/cc_button' %>

    <% else %>

      <div class="button secondary cc-button billing-button">Credit Card</div>

      <div class="token-form-wrapper group" style="display:none;">

        <%= link_to "Is this safe?", "#", :class => "is-safe" %>

        <div class="token-loading" style="display:none;">
          
          <span class="icon-spinner icon-spin icon-large"></span>

        </div>

        <%= render 'shared/forms/add_cc_form' %>

      </div>

    <% end %>
    
  </div>

  <div class="large-6 columns cash-column center">

       <%= link_to "Cash on Delivery", {controller: "billings", action: "make_primary", billing_id: @cash.id}, remote: true, class: "button secondary cash-button billing-button" %>

  </div>

</div>
<%= form_tag({controller: "profiles", action: "complete"}, method: "put") do |f| %>
    
  <%= hidden_field_tag :profile_complete, "true" %>

  <%= submit_tag("Save & Finish", :class => "button save-con") %>

<% end %>