<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :current_password %>
  <%= f.password_field :current_password %></div>

  <div><%= f.label :password, "New Password" %>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Confirm" %>
  <%= f.password_field :password_confirmation %></div>


  <div><%= f.submit "Update" %></div>
<% end %>