<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "login-form custom"}) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div>
       <%= f.check_box :remember_me %><%= f.label :remember_me, class: "check-box-label" %>
    </div>
  <% end -%>

  <div><%= f.submit "Login with email", class: "button expand" %></div>

  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
<% end %>

