<div class="row order-box-wrapper">
  
  <div class="large-12 columns">

    <h4>Choose a pick-up date</h4>
    
    <ul class="p-date-wrapper inline-list group">
        
      <li class="p-date-box group">

        <div class="p-date-button" data-times=<%= pickup_times(dates_this_week[0]) %> data-date=<%= dates_this_week[0] %>> <%= format_week(dates_this_week[0]) %> </div>

      </li>

      <li class="p-date-box group">

        <div class="p-date-button" data-times=<%= pickup_times(dates_this_week[1]) %> data-date=<%= dates_this_week[1] %>> <%= format_week(dates_this_week[1]) %> </div>

      </li>

      <li class="p-date-box group">

        <div class="p-date-button" data-times=<%= pickup_times(dates_this_week[2]) %> data-date=<%= dates_this_week[2] %>> <%= format_week(dates_this_week[2]) %> </div>

      </li>

      <li class="p-date-box group">

        <div class="p-date-button" data-times=<%= pickup_times(dates_this_week[3]) %> data-date=<%= dates_this_week[3] %>> <%= format_week(dates_this_week[3]) %> </div>

      </li>

      <li class="p-date-box group">

        <div class="p-date-button" data-times=<%= pickup_times(dates_this_week[4]) %> data-date=<%= dates_this_week[4] %>> <%= format_week(dates_this_week[4]) %> </div>

      </li>

    </ul>

    <div class="p-time-wrapper" style="display:none">

      <h5>Select a time window</h5>

      <div class="p-time-list row">

        <div class=" morning" style="display:none">
          
          <div class="row">
            
            <div class="large-6 small-6 columns"><div class="p-time-btn">9:00 - 12:00</div></div>
          
            <div class="large-6 small-6 columns"><div class="p-time-btn">9:00 - 11:00</div></div>

          </div>

        </div>

        <div class="evening" style="display:none">
          
          <div class="row">

            <div class="large-6 small-6 columns"><div class="p-time-btn">18:00 - 21:00</div></div>
            
            <div class="large-6 small-6 columns"><div class="p-time-btn">19:00 - 21:00</div></div>
          
          </div>

        </div>

        <div class="afternoon" style="display:none">

          <div class="row">

            <div class="large-6 small-6 columns"><div class="p-time-btn">15:00 - 18:00</div></div>

          </div>

        </div>
        
      </div>

      <div><%= render 'shared/buttons/go_to_step_2_button' %></div>

    </div>

  </div>

</div>
