<div class="large-12 columns">

  <div class="service-wrapper">

    <h4 class="#">Service Option(s)</h4>

    <div class="#">
    
    <div class="row">
  
      <div class="service-btn-columns"> 

        <div class="wnf-btn">

          <div class="check-box">

            <span class="icon-unchecked"></span><span class="icon-check" style="display:none"></span>

          </div>

          Wash n' Fold

        </div>

      </div>

      <div class="service-btn-columns">

        <div class="dc-btn">

          <div class="check-box">

            <span class="icon-unchecked"></span><span class="icon-check" style="display:none"></span>

          </div>

          Special Care

        </div>

      </div>

    </div>

    </div>
    
    <div class="notes-wrapper">
      
      <div class="add_c_notes">

        Add Cleaning Instructions <span class="icon-plus-sign"></span><span class="icon-minus-sign" style="display: none"></span>

      </div>

      <div class="c_notes_ui" style="display:none">
      
        <textarea id="c_notes_ui" placeholder="Enter cleaning instructions here..."></textarea>

      </div>

    </div>

  </div>
  
  <div class="pick-up-delivery-wrapper">

    <div class="row">
      
      <div class="p-d-columns">

        <h4 class="date-title">Pickup</h4>

        <div class="p-d-wrapper">
          
          <h4 class="date-display"><%= "#{ @p_time } #{ format_week(@p_date) }"  %></h4>

          <%= select_tag "p_address_ui", options_for_select([ [@p_address_full] ]) %>

          <div class="notes-wrapper">
            
            <div class="add_p_notes">

              Add Pickup Instructions <span class="icon-plus-sign"></span><span class="icon-minus-sign" style="display: none"></span>

            </div>

            <div class="p_notes_ui" style="display:none">
              
              <textarea id="p_notes_ui" placeholder="Enter instructions for pick-up here..." ></textarea>

            </div>

          </div>

        </div>

      </div>

      <div class="p-d-columns">

        <h4 class="date-title">Delivery</h4>

        <div class="p-d-wrapper">
          
          <h4 class="date-display"><span class="d_time_ui"><%= del_times(@p_date, @p_time) %></span> <span class="d_date_ui" data-date=<%= reg_del_date(@p_date) %>> <%= to_my_date(reg_del_date(@p_date)) %> </span></h4>

          <%= select_tag "d_address_ui", options_for_select([ [@d_address_full] ]) %>

          <div class="notes-wrapper">
            
            <div class="add_d_notes">

              Add Delivery Instructions <span class="icon-plus-sign"></span><span class="icon-minus-sign" style="display: none"></span>

            </div>

            <div class="d_notes_ui" style="display:none"> 

              <textarea id="d_notes_ui" placeholder="Enter instructions for delivery here..." ></textarea>

            </div>

          </div>

        </div>

        <div class="exp-reg-wrapper">
          
          <div class="express-wrapper group">

            <div>
              
              <span>Receive your order on: </span>

              <span class="exp_d_time_ui"><%= exp_del_times(@p_date, @p_time) %></span>

              <span class="exp_d_date_ui" data-date=<%= exp_del_date(@p_date) %>><%= to_my_date(exp_del_date(@p_date)) %></span>

            </div>

            <div class="button secondary switch-exp">

              <div class="check-box">

                <span class="icon-unchecked"></span>

              </div>
              
              24h Express ($10.00)

            </div>

          </div>

          <div class="regular-wrapper group" style="display:none">

            <div>

              <span>Switch back to: </span>

              <span class="reg_d_time_ui"><%= del_times(@p_date, @p_time) %></span>

              <span class="reg_d_date_ui" data-date=<%= reg_del_date(@p_date) %>><%= to_my_date(reg_del_date(@p_date)) %></span>

            </div>

            <div class="button switch-reg">

              <div class="check-box">

                <span class="icon-check"></span>

              </div>

              24h Express ($10.00)

            </div>

          </div>

        </div>
  
      </div>

    </div>

  </div>

  <div><%= render 'shared/buttons/submit_order_button' %></div>

</div>

