<%= form_for [current_user, @profile], remote: true do |f| %>
  
  <div class="row">

    <div class="large-6 columns">

      <%= f.label :name, "*Full Name" %>

      <%= f.text_field :name, data: { trigger: "change", required: "true", :'required-message' => "Enter your name" } %>

    </div>

    <div class="large-6 columns cell-phone">
      
      <%= f.label :cell, "*Cell Phone", :class => "cell-label" %>

      <%= f.telephone_field :cell, data: { trigger: "change", required: "true", :'required-message' => "Provide a cell phone number" }, autocomplete: "off" %>
      
      <span class="show-reg-phone">Don't have a cell?</span>

    </div>

  </div>

  <div class="row reg-phone" style="display: none">
    
    <div class="large-6 small-8 columns">
      
      <%= f.label :phone, "*Telephone" %>

      <%= f.telephone_field :phone, data: { trigger: "change", :'required-message' => "Provide a phone number" }, autocomplete: "off" %>

    </div>

    <div class="large-2 small-4 columns">
      
      <%= f.label :ext, "Ext" %>

      <%= f.text_field :ext, maxlength: 8 %>

    </div>

    <div class="large-4 columns"></div>

  </div>

  <%= f.submit "Save & Continue", :class => 'button save-con' %>
<% end %>