<h3>Service Point</h3>

<p>Add one or more service points as pick-up & delivery locations. <em>(eg. Home, Office)</em></p>

<div data-alert class="alert-box alert service-point-error" style="display:none">

  <span>Hmm... Looks like you're outside of our delivery zone. We'll notify you by email as soon as we begin serving this area.</span>

  <a href="#" class="close">&times;</a>

</div>

<%= form_for [current_user, @service_point], remote: true do |f| %>

<div class="row">
  

  <div class="large-12 columns">
    
    <%= f.label :address, "*Address" %>
    <%= f.text_field :address, data: { trigger: "change", required: "true", :'required-message' => "Required" } %>

  </div>

</div>

<div class="row">

  <div class="large-4 small-6 columns">
    
    <%= f.label :apt, "Apt" %>
    <%= f.text_field :apt %>

  </div>

  <div class="large-4 small-6 columns">
    
    <%= f.label :door_code, "Door Code" %>
    <%= f.text_field :door_code %>

  </div>

  <div class="large-4 columns">
    
    <%= f.label :postal_code, "*Postal Code" %>
    <%= f.text_field :postal_code, data: { trigger: "change", required: "true", :'required-message' => "Required" } %>

  </div>

</div>

<%= f.submit "Save & Continue", :class => 'button save-con' %>

<% end %>

<div class="button secondary try-again" style="display: none">Try another address?</div>

<table class="service-point-table">

</table>