<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "sign-up-form"}) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="password-confirmation">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Create Account", class: "button expand" %>
  </div>
  <%= link_to "Already registered? Login.", new_session_path(resource_name) %>
<% end %>
