<%= form_tag({controller: "tokens", action: "update_exp"}, method: "put", remote: true, id: "update-cc-form") do |f| %>
  
  <% y = Time.now.year %>

  <div class="row">

    <div class="large-12 columns">

      <div class="update-method-title-wrapper">
        
        <h4 class="update-method-title"><span class="update-last-four"></span></h4>

      </div>

    </div>

  </div>
  <div class="row">
    
    <div class="large-12 columns"> <label for="#exp_m">New Exp. Date</label> </div>
  
  </div>

  <div class="row">
    
    <div class="large-6 small-6 columns">
      
      <%= select_tag "exp_m", options_for_select([ ["01"], ["02"], ["03"], ["04"], ["05"], ["06"], ["07"], ["08"], ["09"], ["10"], ["11"], ["12"] ]), {prompt: "Mon", data: { trigger: "change", required: "true", :'required-message' => "Required" }} %>
      
    </div>
    
    <div class="large-6 small-6 columns">
      
      <%= select_tag "exp_y", options_for_select([  [y], [y+1], [y+2], [y+3], [y+4], [y+5], [y+6], [y+7], [y+8], [y+9], [y+10], [y+11], [y+12]  ]), {prompt: "Year" , data: { trigger: "change", required: "true", :'required-message' => "Required" }} %>

    </div>

  </div>

  <%= hidden_field_tag :update_token_id, "", :class=> "update-token-id", :id=>"" %>

  <%= submit_tag("Update Card", :class => "button small right tertiary") %>

<% end %>