$(window).scrollTop(110);

$('.service-points-wrapper').fadeOut();

$('<div class="billing-wrapper"> </div>').prependTo('.welcome-container');

$('.billing-wrapper').prepend("<%= escape_javascript(render "shared/forms/billing_form" ) %>");

$('.meter > span').css('width', '95%');

$('.percentage').text("95%");


//DUPLICATE JS BCUZ OF AJAX

$('.cc-button').on("click", function(){

  $('.token-form-wrapper').slideDown();

  $(this).removeClass('secondary');

  $('.cash-button').addClass('secondary');

});

$('.cash-button').on("click", function(){

  $('.token-form-wrapper').slideUp();

});


//Parslyify form

$('#new_token').parsley( {

  validators: {

    remote: null,

    type: null
  }

});


//Foundation reflow

$('.welcome-container').foundation('forms');

// TRIGGER AJAX LOADER

$('#new_token').bind('ajax:before', function(){

  $('.token-loading').fadeIn('fast');

});

$('#new_token').bind('ajax:success', function(){

  $('.token-loading').fadeOut();

});