<h3>Login to Nettoyeurs Express!</h3>
  
<div class="row login-modal-inside">

  <div class="large-5 columns fb-column">

    <a href="#">

      <div class="facebook-login">

        <span class="icon-facebook icon-2x fb-left"></span>

        <span class="fb-main"></span>

      </div>

    </a>

    <div class="fb-explain">Login quickly by connecting with your Facebook account.</div>

  </div>

  <div class="large-7 columns email-login-column">

    <div class="or-span">OR</div>

    <%= render 'shared/forms/login_form' %>

  </div>
  
</div>