<div id="add-cc-modal" class="reveal-modal small add-cc-modal">

  <h3>Add a new credit card</h3>
  
  <div class="add-cc-modal-inside group">

    <div class="token-loading" style="display:none">
          
      <span class="icon-spinner icon-spin icon-large"></span>

    </div>
    
    <%= render 'shared/forms/add_cc_form' %>

  </div>

  <a class="close-reveal-modal">&#215;</a>

</div>