<div id="sign-up-modal" class="reveal-modal sign-up-modal">
  
  <%= render 'shared/reveals/signup' %>

  <a class="close-reveal-modal">&#215;</a>

</div>

<div id="login-modal" class="reveal-modal login-modal">
  
  <%= render 'shared/reveals/login' %>

  <a class="close-reveal-modal">&#215;</a>
  
</div>