<div id="update-cc-modal" class="reveal-modal small update-cc-modal">

  <h3>Update Credit Card</h3>
  
  <div class="update-cc-modal-inside group">

    <div class="token-loading" style="display:none">
          
      <span class="icon-spinner icon-spin icon-large"></span>

    </div>
    
    <%= render 'shared/forms/update_cc_form' %>

  </div>

  <a class="close-reveal-modal">&#215;</a>

</div>