<div class="row">

  <div class="primary-row group">

    <div class="primary-title">

      <span class="icon-star"></span> Primary

    </div>
    
      <div class="primary-title-column">
    
        <%= render 'billings/primary_title' %>

      </div>
      
      <div class="primary-action-column">
        
        <%= render 'billings/primary_actions' %>

      </div>

  </div>

</div>

<div class="secondary-wrapper-table">

  <div class="secondary-title"> Secondary </div>
  
  <%= render 'billings/secondary_listing' %>

  <% if @primary.method != "cash" %>

    <%= render 'billings/cash_option' %>

  <% end %>

</div>

