if ( $('.billing-table-wrapper').length > 0 ) {
  //Dealing with JS in Account#Billing

  var size = document.documentElement.clientWidth;
  
  $('.billing-table-wrapper').html("<%= escape_javascript(render "shared/tables/billing_table" ) %>");

  $('#new_token').each(function(){
    this.reset();
  });

  $('#add-cc-modal').foundation('reveal', 'close');

  successMsg("Credit Card Added!");

  updateBtnClickEvent();
  bindIconAjaxLoading();

}
else if ( $('.welcome-container').length > 0 ) {
  //Dealing with JS in Welcome#BillingPreference

  $('.token-form-wrapper').hide();
  $('.cc-column').html("<%= escape_javascript(render "shared/buttons/cc_button" ) %>");
  $('.cash-button').addClass('secondary');

}

  

