var size = document.documentElement.clientWidth;
  
$('.billing-table-wrapper').html("<%= escape_javascript(render "shared/tables/billing_table" ) %>");

$('#update-cc-form').each(function(){
  this.reset();
});

$('.update-cc-modal').foundation('reveal', 'close');

successMsg("Credit Card Updated!");

updateBtnClickEvent();
bindIconAjaxLoading();