<% latest_cc = current_user.billings.last.id %>
<%= link_to "#{current_user.tokens.first.last_four}", {controller: "billings", action: "make_primary", billing_id: latest_cc }, remote: true, class: "button cc-num-button billing-button" %>

