<%= form_tag({controller: "orders", action: "step2"}, method: "put", remote: true, class: "step1-form") do |f| %>
    
  <%= hidden_field_tag :p_date, "", :class=> "p_date", :id=>"" %>
  <%= hidden_field_tag :p_time, "", :class=> "p_time", :id=>"" %>

  <%= submit_tag("Select & Continue", :class => "button small go-to-step2", :disabled => 'true') %>

<% end %>