<%= form_tag({controller: "orders", action: "submit_order"}, method: "put", remote: true, class: "step2-form") do |f| %>
    
  <%= hidden_field_tag :p_date, "", :class=> "p_date", :id=>"" %>

  <%= hidden_field_tag :p_time, "", :class=> "p_time", :id=>"" %>

  <%= hidden_field_tag :p_address, "", :class=> "p_address", :id=>"" %>

  <%= hidden_field_tag :p_postal, "", :class=> "p_postal", :id=>"" %>

  <%= hidden_field_tag :p_notes, "", :class=> "p_notes", :id=>"" %>

  <%= hidden_field_tag :d_date, "", :class=> "d_date", :id=>"" %>

  <%= hidden_field_tag :d_time, "", :class=> "d_time", :id=>"" %>

  <%= hidden_field_tag :d_address, "", :class=> "d_address", :id=>"" %>

  <%= hidden_field_tag :d_postal, "", :class=> "d_postal", :id=>"" %>

  <%= hidden_field_tag :d_notes, "", :class=> "d_notes", :id=>"" %>

  <%= hidden_field_tag :service, "", :class=> "service", :id=>"" %>

  <%= hidden_field_tag :c_notes, "", :class=> "c_notes", :id=>"" %>

  <%= hidden_field_tag :speed, "", :class=> "speed", :id=>"" %>

  <%= hidden_field_tag :promo_code, "", :class=> "promo_code", :id=>"" %>

  <%= hidden_field_tag :billing, "", :class=> "billing", :id=>"" %>
  
  <%= hidden_field_tag :user_id, "", :class=> "user_id", :id=>"" %>

  <%= submit_tag("Submit Order", :class => "button small create-order", :disabled => 'true') %>

<% end %>