$('.welcome-loading').fadeOut();

// **** Insert Values **** \\

$('.order-box-wrapper').html("<%= escape_javascript(render "shared/forms/order_step2") %>");

$('.p_date').val("<%= escape_javascript (@p_date) %>");

$('.p_time').val("<%= escape_javascript (@p_time) %>");

$('.p_address').val("<%= escape_javascript (@p_address) %>");

$('.p_postal').val("<%= escape_javascript (@p_postal) %>");

$('.d_date').val($('.d_date_ui').data('date'));

$('.d_time').val($('.d_time_ui').text());

$('.d_address').val("<%= escape_javascript (@p_address) %>");

$('.d_postal').val("<%= escape_javascript (@p_postal) %>");

$('.speed').val("regular");

$('.billing').val("<%= escape_javascript (@billing) %>");

$('.user_id').val("<%= escape_javascript (@user_id) %>");


// **** Actions ***** \\

// Express-Regular-Speed
$('.switch-exp').on('click', function() {

  var d_date = $('.d_date_ui').data('date'),
      d_date_ui = $('.d_date_ui').text(),
      d_time = $('.d_time_ui').text(),
      exp_d_date = $('.exp_d_date_ui').data('date'),
      exp_d_date_ui = $('.exp_d_date_ui').text(),
      exp_d_time = $('.exp_d_time_ui').text();

  $('.speed').val("express");

  $('.d_date').val(exp_d_date);

  $('.d_time').val(exp_d_time);

  $('.d_date_ui').text(exp_d_date_ui + " [Express]");

  $('.d_date_ui').attr('data-date', exp_d_date);

  $('.d_time_ui').text(exp_d_time);

  $('.express-wrapper').hide();

  $('.regular-wrapper').show();

  $('.exp-reg-wrapper').css({
    "background": "#f8f8f8",
    "border-top": "1px solid #cdcdcd"
  });
})

$('.switch-reg').on('click', function() {

  var d_date = $('.d_date_ui').data('date'),
      d_date_ui = $('.d_date_ui').text(),
      d_time = $('.d_time_ui').text(),
      reg_d_date = $('.reg_d_date_ui').data('date'),
      reg_d_date_ui = $('.reg_d_date_ui').text(),
      reg_d_time = $('.reg_d_time_ui').text();

  $('.speed').val("regular");

  $('.d_date').val(reg_d_date);

  $('.d_time').val(reg_d_time);

  $('.d_date_ui').text(reg_d_date_ui);

  $('.d_date_ui').attr('data-date', reg_d_date);

  $('.d_time_ui').text(reg_d_time);
  
  $('.regular-wrapper').hide();

  $('.express-wrapper').show();

  $('.exp-reg-wrapper').css({
    "background": "#ffffcc",
    "border-top": "1px solid #E5E600"
  });
});

// Service Options 

$('.wnf-btn').on('click', function() {
  var service = $('.service'),
      dc = $('.dc-btn'),
      checked = $(this).find('.icon-check'),
      unchecked = $(this).find('.icon-unchecked');

  $('.create-order').prop('disabled', false);

  checked.toggle();

  unchecked.toggle();

  if ($(this).hasClass('active')) {
    $(this).removeClass('active');
    $(this).find('.check-box').css("border-right", "1px solid #cdcdcd");

    if (service.val() == "3") {
      service.val("2");
    }
    else if (service.val() == "1") {
      service.val("")
      $('.create-order').prop('disabled', true);
    }
  }
  else if (!$(this).hasClass('active')) {
    $(this).addClass('active');
    $(this).find('.check-box').css("border-right", "1px solid #fff");

    if (service.val() == "2") {
      service.val("3");
    }
    else if (service.val() == "") {
      service.val("1")
    }
  }
});

$('.dc-btn').on('click', function() {
  var service = $('.service'),
      wnf = $('.wnf-btn'),
      checked = $(this).find('.icon-check'),
      unchecked = $(this).find('.icon-unchecked');

  $('.create-order').prop('disabled', false);

  checked.toggle();

  unchecked.toggle();

  if ($(this).hasClass('active')) {
    $(this).removeClass('active');
    $(this).find('.check-box').css("border-right", "1px solid #cdcdcd");

    if (service.val() == "3") {
      service.val("1");
    }
    else if (service.val() == "2") {
      service.val("")
      $('.create-order').prop('disabled', true);
    }
  }
  else if (!$(this).hasClass('active')) {
    $(this).addClass('active');
    $(this).find('.check-box').css("border-right", "1px solid #fff");

    if (service.val() == "1") {
      service.val("3");
    }
    else if (service.val() == "") {
      service.val("2")
    }
  }
});

// Special Instructions

$('.add_c_notes').on('click', function() {

  $('.c_notes_ui').slideToggle('fast', function(){
    $('.add_c_notes').find('.icon-plus-sign').toggle();
    $('.add_c_notes').find('.icon-minus-sign').toggle();
  });

});

$('.add_p_notes').on('click', function() {

  $('.p_notes_ui').slideToggle('fast', function(){
    $('.add_p_notes').find('.icon-plus-sign').toggle();
    $('.add_p_notes').find('.icon-minus-sign').toggle();
  });

});

$('.add_d_notes').on('click', function() {

  $('.d_notes_ui').slideToggle('fast', function(){
    $('.add_d_notes').find('.icon-plus-sign').toggle();
    $('.add_d_notes').find('.icon-minus-sign').toggle();
  });

});

$('#c_notes_ui').on('keyup', function() {

  $('.c_notes').val( $(this).val() );

});

$('#p_notes_ui').on('keyup', function() {

  $('.p_notes').val( $(this).val() );

});

$('#d_notes_ui').on('keyup', function() {

  $('.d_notes').val( $(this).val() );

});