<h1>Administrator#postal_errors</h1>
<p>Find me in app/views/administrator/postal_errors.html.erb</p>
<table class="postal_errors">
  <tr>
    <th>ID</th>
    <th>Postal Code</th>
    <th>Submitted</th>

  </tr>
  <% @postal_errors.each do |postal| %>
    <tr>
      <td><%= postal.id %></td>
      <td><%= postal.postal_code %></td>
      <td><%= postal.created_at.to_s(:long) %></td>
      <td><%= link_to "delete", postal, method: :delete, confirm: "You sure?" %></td>
    </tr>
  <% end %>
</table>
