<h1>Administrator#users</h1>
<p>Find me in app/views/administrator/users.html.erb</p>
<table>
  <tr>
    <th>Email</th>
    <th>User Since</th>
    <th>Admin</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td><%= user.admin %></td>
    </tr>
  <% end %>
</table>