<div class="row">

  <div class="secondary-row group">
    
    <div class="secondary-title-column">
    
      <h4 class="method-title"> Cash on Delivery </h4>

    </div>

    <div class="secondary-action-column">
      
      <%= link_to (url_for({controller: "billings", action: "make_primary", billing_id: @cash.id})), remote: true, class: "button secondary expand make-primary" do %>
        
        <span class="icon-star icn-action"></span>

      <% end %>
      

    </div>

  </div>

</div>