<% if @primary.method == "cash" %>

  <h4 class="method-title"> <span class="icon-star gold"></span>Cash on Delivery</h4>

<% else %>

  <h4 class="method-title <%= cc_class(@primary.method) %>"> 

    <span class="icon-star gold"></span><span class="last-four"><%= @primary.method %></span>
    
  </h4>

<% end %>