<% if @primary.method != "cash" %>
      
  <ul class="button-group even-2">
    
    <li>

      <%= link_to (url_for({controller: "billings", action: "remove_primary", billing_id: @primary.id})), remote: true, class: "button secondary remove-billing" do %>
        
        <span class="icon-trash icn-action"></span>

      <% end %>

    </li>

    <li>

      <div class="button secondary update-exp-btn" data-card-type="<%= cc_class(@primary.method) %>" data-last-four="<%= @primary.method %>" data-token-id="<%= @primary.token_id %>">
      
        <span class="icon-pencil icn-action"></span>

      </div>

    </li>

  </ul>

<% end %>