<% if @primary.method == "cash" && @secondary.empty? %>

  <h5 class="no-secondary-msg">No secondary billing methods</h5>

<% end %>

<% @secondary.each do |billing| %>

<div class="row">

  <div class="secondary-row group">
    
    <div class="secondary-title-column">
    
      <h4 class="method-title <%= cc_class(billing.method) %>"> 
        <span class="last-four"><%= billing.method %></span>
      </h4>

    </div>

    <div class="secondary-action-column">
      
      <ul class="button-group even-3">
        
        <li>
          
          <%= link_to (url_for({controller: "billings", action: "make_primary", billing_id: billing.id})), remote: true, class: "button secondary make-primary" do %>
            
            <span class="icon-star icn-action"></span>

          <% end %>

        </li>

        <li>

          <%= link_to (url_for({controller: "billings", action: "remove", billing_id: billing.id})), remote: true, class: "button secondary remove-billing" do %>
          
          <span class="icon-trash icn-action"></span>
          
          <% end %>

        </li>

        <li>

          <div class="button secondary update-exp-btn" data-card-type="<%= cc_class(billing.method) %>" data-last-four="<%= billing.method %>" data-token-id="<%= billing.token_id %>">
            
            <span class="icon-pencil icn-action"></span>

          </div>

        </li>

      </ul>

    </div>

  </div>
  
</div>

<% end %>