if ( $('.billing-table-wrapper').length > 0 ) {
  //Dealing with JS in Account#Billing
  var size = document.documentElement.clientWidth;
  
  $('.billing-table-wrapper').html("<%= escape_javascript(render "shared/tables/billing_table" ) %>");

  successMsg("Primary Billing Method Saved");

  $('.make-primary').trigger('blur');

  updateBtnClickEvent();
  bindIconAjaxLoading();

}
else if ( $('.welcome-container').length > 0 ) {
  //Dealing with JS in Welcome#BillingPreference

  <% if @primary.method == 'cash' %> 
    $('.cash-button').removeClass("secondary");
    $('.cc-button').addClass("secondary");
    $('.cc-num-button').addClass("secondary");
  <% else %>
    $('.cash-button').addClass("secondary");
    $('.cc-button').removeClass("secondary");
    $('.cc-num-button').removeClass("secondary");
  <% end %>
  
}


