<div class="billing-page-wrapper">

  
  <div class="row">
  
    <div class="billing-page-title-column">
      
      <h1>Billing</h1>

    </div>

    <div class="billing-page-add-cc-column">

      <a href="#" data-reveal-id="add-cc-modal" class="button tertiary add-a-credit-card">Add a Credit Card</a>

    </div>

  </div>

  <div class="row">

    <div class="billing-table-column">

      <div class="billing-table-wrapper">
        
        <%= render 'shared/tables/billing_table' %>

      </div>
      
    </div>

  </div>

  <div class="row">

    <div class="prepay-wrapper">
      
      <h3>Prepay &amp; Save Plans</h3>

    </div>

  </div>

</div>

<%= render 'shared/reveals/reveal_add_cc' %>

<%= render 'shared/reveals/reveal_update_cc' %>