<div class="order-box-bg-full">

  <div class="welcome-loading" style="display:none">

    <span class="icon-spinner icon-spin icon-large"></span>
    
  </div>
  
  <%= render 'shared/forms/order_step1' %>

  <div class="button new-order-btn">Place a New Order</div>

</div>

<div class="row account-container">

  <div class="account-loading" style="display: none">

    <span class="icon-spinner icon-spin icon-large"></span>
    
  </div>
  
  <div class="dash-buttons-wrapper">
      
    <div class="row">
      
      <div class="dash-buttons">

        <div class="dash-box row"> 
          
          <div class="large-12 small-3 columns">

            <span class="icon-user"></span>

          </div>
          
          <div class="large-12 small-9 columns">
            
            <h3>My Profile</h3>

          </div>
          
          <span class="icon-chevron-sign-right"></span>

        </div>

      </div>

      <div class="dash-buttons">

        <div class="dash-box row">

          <div class="large-12 small-3 columns">

            <span class="icon-barcode"></span>

          </div>

          <div class="large-12 small-9 columns">

            <h3>Orders</h3>

          </div>

          <span class="icon-chevron-sign-right"></span>
        
        </div>
        
      </div>

    </div>
    
    <div class="row">
    
      <div class="dash-buttons">

        <div class="dash-box row">

          <div class="large-12 small-3 columns">
            
            <span class="icon-map-marker"></span>

          </div>
  
          <div class="large-12 small-9 columns">
            
            <h3>Service Points</h3>

          </div>

          <span class="icon-chevron-sign-right"></span>

        </div>
        
      </div>

      <div class="dash-buttons">

        <div class="dash-box row">

          <div class="large-12 small-3 columns">
            
            <span class="icon-credit-card"></span>

          </div>

          <div class="large-12 small-9 columns">
            
            <h3>Billing</h3>

          </div>

          <span class="icon-chevron-sign-right"></span>

        </div>
        
      </div>

    </div>

  </div>

</div>