<div class="row order-box-wrapper">

  <div class="large-12 columns">
    
    <h1>Choose a Pickup Date</h1>
    
    <ul class="p-date-wrapper inline-list">
        
      <li class="p-date-box">

        <div class="p-date-button"><%= this_week[0] %></div>

        <div class="p-time-wrapper group" style="display: none">

          <span class="icon-caret-up caret-1"></span>
          
          <div class="row">
            
            <!-- Only first day has this condition -->

            <% if afternoon_not_sunday %>

            <div class="large-6 columns">

              <%= render 'shared/buttons/morning_buttons' %>

            </div>

            <% end %>

            <div class="large-6 columns">

              <%= render 'shared/buttons/evening_buttons' %>

            </div>

          </div>
          
          <div ><%= render 'shared/buttons/go_to_step_2_button' %></div>

        </div>

      </li>

      <li class="p-date-box">

        <div class="p-date-button"><%= this_week[1] %></div>

        <div class="p-time-wrapper group" style="display: none">

          <span class="icon-caret-up caret-2"></span>
          
          <div class="row">
            
            <div class="large-6 columns">

              <%= render 'shared/buttons/morning_buttons' %>

            </div>

            <div class="large-6 columns">

              <%= render 'shared/buttons/evening_buttons' %>

            </div>

          </div>

          <div><%= render 'shared/buttons/go_to_step_2_button' %></div>

        </div>

      </li>

      <li class="p-date-box">

        <div class="p-date-button"><%= this_week[2] %></div>

        <div class="p-time-wrapper group" style="display: none">

          <span class="icon-caret-up caret-3"></span>
          
          <div class="row">
            
            <div class="large-6 columns">

              <%= render 'shared/buttons/morning_buttons' %>

            </div>

            <div class="large-6 columns">

              <%= render 'shared/buttons/evening_buttons' %>

            </div>

          </div>

          <div><%= render 'shared/buttons/go_to_step_2_button' %></div>

        </div>

      </li>

      <li class="p-date-box">

        <div class="p-date-button"><%= this_week[3] %></div>

        <div class="p-time-wrapper group" style="display: none">

          <span class="icon-caret-up caret-4"></span>
          
          <div class="row">
            
            <div class="large-6 columns">

              <%= render 'shared/buttons/morning_buttons' %>

            </div>

            <div class="large-6 columns">

              <%= render 'shared/buttons/evening_buttons' %>

            </div>

          </div>

          <div><%= render 'shared/buttons/go_to_step_2_button' %></div>

        </div>

      </li>

      <li class="p-date-box">

        <div class="p-date-button"><%= this_week[4] %></div>

        <div class="p-time-wrapper group" style="display: none">

          <span class="icon-caret-up caret-5"></span>
          
          <div class="row">
            
            <div class="large-6 columns">

              <%= render 'shared/buttons/morning_buttons' %>

            </div>

            <div class="large-6 columns">

              <%= render 'shared/buttons/evening_buttons' %>

            </div>

          </div>

          <div><%= render 'shared/buttons/go_to_step_2_button' %></div>

        </div>

      </li>

    </ul>

  </div>

</div>
