<div class="row welcome-header">

  <div class="large-6 columns">

    <h1>Getting Started</h1>
    
  </div>
  
  <div class="large-6 columns profile-completion">

    <span class="meter-text">Profile Completeness</span>

    <span class="percentage"><%= @percentage %></span>

    <div class="meter">

      <span style="width: <%= @percentage %>"></span>

    </div>

  </div>

</div>

<div class="row">
  
  <div class="large-12 large-centered small-12 small-centered columns welcome-container">
    
    <div class="welcome-loading" style="display:none">

      <span class="icon-spinner icon-spin icon-large"></span>
      
    </div>
    

    <div data-alert class="alert-box alert welcome-errors" style="display:none">

      <a href="#" class="close">&times;</a>
      
    </div>
    
    <% if @step1 %>

      <div class="contact-form-wrapper">

        <h3>Contact Info</h3>
      
        <%= render 'shared/forms/profile_form' %>

      </div>

    <% elsif @step2 %>

      <div class="service-points-wrapper">

        <%= render 'shared/forms/service_point_form' %>

      </div>

    <% else %>
    
      <%= render 'shared/forms/billing_form' %>

    <% end %>

  </div>

</div>






