// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//****** BILLING ********\\
.make_primary_form{
  margin-bottom: 0;
}
.make_primary_btn{
  font-size: 0.9em !important;
  margin-bottom: 0 !important;
}