@import "settings";
@import "foundation";
@import "cc-icons/*.png";
@include all-cc-icons-sprites;

.success-msg {
  left: 50%;
  margin-left: -150px;
  min-width: 300px;
  padding: 10px;
  position: absolute !important;
  text-align: center;
  top: 72px;
  z-index: 100;
  @media only screen and (max-width: 400px){
    position: fixed !important;
    top: 0 !important;
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}
.error-msg{
  @extend .success-msg
}
.billing-page-title-column{
  @include grid-column(4);
  h1{
    font-family: 'Lobster13Regular';
    color: $blue;
    @media only screen and (max-width: 768px){
      font-size: 2.75em;
    }
  }
  @media only screen and (max-width: 400px){
    @include grid-column(12);
  }
}
.billing-page-add-cc-column{
  @include grid-column(8);
  @media only screen and (max-width: 400px){
    @include grid-column(12);
  }
}
.billing-page-wrapper{
  margin-top: 20px;
}
.billing-table-column{
  @include grid-column(12);
  @media only screen and (min-width: 900px){
    @include grid-column(9);
  }
}
.billing-table-wrapper{
  h1{
    margin-top: 0;
  }
  h3, h4{
    padding: 5px;
    border-right: 1px solid #cecece;
    color: #555;
    @media only screen and (max-width: 600px){
      border-right: none;
    }
  }
  h4{
    padding: 0;
  }
}
.add-a-credit-card{
  float: right;
  margin-top: 15px !important;
  font-size: 1.2em !important;
  @media only screen and (max-width: 400px){
    float: none;
    width: 100%;
    margin-top: 10px !important;
  }
}
.icon-star{
  &.gold{
    color: #fcaf0a;
    position: absolute;
    left: 0;
    font-size: 1.5em;
    @media only screen and (max-width: 950px){
      display: none;
    }
  }
}
.make-primary{
  &:hover > .icon-star{
    color: #fcaf0a;
    @media only screen and (max-width: 500px){
      color: #555;
    }
  }
  &:active > .icon-star{
    color: #fcaf0a;
  }
}
.primary-row{
  h3, a, .button{
    margin: 0;
  }
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #cecece;
  position: relative;
  .method-title{
    margin-left: 40px;
    text-align: center;
    height: 32px;
    @media only screen and (max-width: 950px){
      border-left: none;
      margin-left: 0;
    }
    @media only screen and (max-width: 768px){
      padding: 5px 0 10px;
    }
    .last-four{
      font-size: 0.85em;
      margin-left: 5px;
      @media only screen and (max-width: 400px){
        margin-left: 45px;
      }
      @media only screen and (max-width: 330px){
        font-size: 0.8em;
      }
      @media only screen and (min-width: 700px) and (max-width: 768px){
        font-size: 1em;
      }
    }
    @media only screen and (min-width: 600px) and (max-width: 700px){
      margin-bottom: 0;
    }
    
  }
  .primary-title{
    position: absolute;
    top: -12px;
    background: #89D864;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    @media only screen and (max-width: 700px){
      left: 15px;
    }
    .icon-star{
      @media only screen and (min-width: 950px){
        display: none;
      }
    }
  }
  @media only screen and (max-width: 1000px){
    margin-left: 10px;
    margin-right: 10px;
  }
  @media only screen and (max-width: 700px){
    padding: 15px 5px 15px;
  }
}
.primary-title-column{
  padding: 0 !important;
  @include grid-column(12);
  @media only screen and (min-width: 600px){
    @include grid-column(8);
  }
  
}
.primary-action-column{
  @include grid-column(12);
  @media only screen and (min-width: 600px){
    @include grid-column(4);
  }
  @media only screen and (max-width: 700px){
    padding: 0;
  }
}
.secondary-wrapper-table{
  background: #f8f8f8;
  border: 1px solid #cecece;
  padding: 30px 0;
  position: relative;
  margin: 20px 0;
}
.secondary-title{
  position: absolute;
  top: -12px;
  left: 5px;
  background: #777;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  @media only screen and (max-width: 1000px){
    left: 15px;
  }
}
.no-secondary-msg{
  text-align: center; 
  color: #555;
}
.secondary-title-column{
  @extend .primary-title-column;
  
}
.secondary-action-column{
  @extend .primary-action-column;
  
}
.secondary-row{
  @extend .primary-row;
  margin-bottom: 0;
  margin-top: 10px;
  .method-title{
    margin-left: 0;
    border-left: none;
    text-align: left;
    .last-four{
      margin-left: 60px;
      @media only screen and (max-width: 380px){
        
      }
    }
    @media only screen and (max-width: 700px){
      text-align: center;
    }
  }
  @media only screen and (max-width: 700px){
    padding: 5px;
  }
  
}
.icn-action{
  font-size: 1.25em;
}
.add-cc-modal{
  padding: 0 !important;
  h3{
    border-bottom: 4px solid darken($blue, 15%);
    background: rgba($blue, 0.9);
    color: #fff;
    margin-bottom: 0;
    padding: 5px 32px;
    @media only screen and (max-width: 550px){
      margin-bottom: 10px;
      padding: 5px 19px;
    }
  }
  width: 500px !important;
  margin-left: -250px !important;
  @media only screen and (max-width: 550px){
    width: 90% !important;
    margin-left: -45% !important;
  }
  input[type="submit"]{
    margin-right: 0.8em;
  }
  .close-reveal-modal{
    @media only screen and (max-width: 550px){
      top: 0.2em !important;
    }
  }
}
.add-cc-modal-inside{
  padding: 1.875em 1.875em;
  position: relative;
  @media only screen and (max-width: 550px){
    padding: 0.5em 0.5em;
  }
}
.update-cc-modal{
  @extend .add-cc-modal;
}
.update-cc-modal-inside{
  @extend .add-cc-modal-inside;
}
.update-method-title-wrapper {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #CECECE;
  margin-bottom: 15px;
  padding: 10px;
}
.update-method-title{
  height: 32px;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
}
.update-last-four{
  margin-left: 60px;
  color: #555;
  line-height: 32px;
  @media only screen and (max-width: 550px){
    font-size: 0.9em
  }
  @media only screen and (min-width: 340px) and (max-width: 768px){
    font-size: 1.1em;

  }
}
.prepay-wrapper{
  margin-top: 40px;
}