@import 'welcome';
@import "foundation";
.account-header{
  @extend .welcome-header;
  @media only screen and (max-width: 768px){
    margin-bottom: 5px !important;
  }
  h1{
    @media only screen and (max-width: 768px){
    padding: 10px 0;
    }
  }
}
.account-main{
  @extend .welcome-container;
}
.account-container{
  position: relative;
}
.account-loading{
  @extend .welcome-loading;
}
.order-button-wrapper{
  @media only screen and (max-width: 768px){
    padding: 0;
    margin-top: -9px;
  }
  @media only screen and (min-width: 500px) and (max-width: 768px){
    margin-top: -2px;
  }
}
.new-order{
  margin-top: 0.2em;
  font-size: 1.5em;
  @media only screen and (max-width: 768px){
    margin-bottom: 10px;
  }
}
.dash-buttons-wrapper{
  & .columns{
    @media only screen and (min-width: 1000px){
      padding: 0 !important;
    }
  }
  & .row .row{
    margin: 0.975em;
    @media only screen and (max-width: 768px){
      margin: 0.975em 0.375em;
    }
    @media only screen and (max-width: 600px){
      margin: 0.25em;
    }
  }
}
.dash-buttons{
  @include grid-column(12);
  @media only screen and (min-width: 600px){
    @include grid-column(6); 
  }
   @media only screen and (min-width: 1000px){
      padding: 0 !important;
    }
}
.dash-box{
  @include transition(all 0.4s ease !important);
  background: #dedede;
  padding: 15px 0;
  margin: 0.9375em;
  border-radius: 2px;
  position: relative;
  @media only screen and (min-width: 768px){
    text-align: center;
    padding: 40px 0;
  }
  span{
    @include transition(all 0.4s ease !important);
    font-size: 2.5em;
    color: #666;
    @media only screen and (min-width: 768px){
      font-size: 5em;
    }
  }
  h3{
    @include transition(all 0.4s ease !important);
    margin-bottom: 0;
    margin-top: 15px;
    color: #666;
    @media only screen and (max-width: 768px){
      margin-top: 9px;
    }
  }
  & .icon-chevron-sign-right{
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    top: 50%;
    margin-top: -10px;
    @media only screen and (min-width: 768px){
      display: none;
    }
  }
  & .small-3{
    text-align: center;
  }
  &:hover{
    background: $green;
    cursor: pointer;
  }
  &:hover span{
    color: #fff;
  }
  &:hover h3{
    color: #fff;
  }
}