 @import "settings";
@import "compass";
.main-header{
  height: 73px;
  background: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 97;
  @include box-shadow(0 2px 3px rgba(0,0,0,0.5));
  @media only screen and (max-width: 500px){
    border-top: none;
    height: 66px;
  } 
}
.header-container{
  position: relative;
  height: 73px;
  @media only screen and (max-width: 500px){
    background: $blue;
    height: 66px;
  }
  
}
.logo{
  position: absolute;
  top: 8px;
  left: 0;
  @media only screen and (max-width: 500px){
    top:  0;
  }
  @media only screen and (min-width: 500px) and (max-width: 1000px){
    left: 10px;
  }
}
.logo-img{
  background: image-url("logo_large.png") no-repeat;
  background-size: contain;
  display: block;
  height: 55px;
  width: 215px;
  text-indent: -9999px;
  @media only screen and (max-width: 500px){
    background: image-url("logo_small.png") no-repeat;
    background-size: contain;
    height: 66px;
    width: 66px;
    border-right: 1px solid #fff;
  }
}

.main-nav{
  float: right;
  & .inline-list{
  margin: 0 auto;
  &>li{
    line-height: 73px;
    margin-left: 0;
    border-right: 1px solid #ddd;
    @media only screen and (max-width: 500px){
      line-height: 66px;
      &:last-child{
        border-right:none;
      }
    }
    &>a{
      @include transition(all 0.4s ease);
      padding: 0 20px;
      color: $blue;
      @media only screen and (max-width: 500px){
        color: #fff;
        padding: 0 15px;
      }
      &:hover{
        background: #f2f2f2;
        @media only screen and (max-width: 500px){
          background: rgba(#fff, 0.4);
        }
      }
    }
  }
}
}
.blue-bar-full{
  background: $blue;
  height: 40px;
}

.help-link:before{
  @media only screen and (min-width: 500px){
    content: "Help ";
  }
}
.icon-info-sign{
  margin: 0 5px;
  @media only screen and (min-width: 500px){
    display: none !important;
  }
}
.f-dropdown{
  @include box-shadow(0px 0px 3px rgba(50, 50, 50, 0.25));
  &>li {
    border-bottom: 1px solid #ddd;
    background: #fdfdfd;
    &:last-child{
      border-bottom: none;
    }
    &>a{
      padding: 12px;
    }
  }  
}
.help-dropdown{
  &:before{
    @media only screen and (max-width: 768px){
      left: auto;
      right: 10px;
    }
  }
  &:after{
    @media only screen and (max-width: 768px){
      left: auto;
      right: 9px;
    }
  }
}
.account-dropdown{
  &:before{
    @media only screen and (max-width: 768px){
      left: auto;
      right: 90px;
    }
  }
  &:after{
    @media only screen and (max-width: 768px){
      left: auto;
      right: 89px;
    }
  }
}
.notification-bar{
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  margin-top: 3px;
  @media only screen and (max-width: 400px){
    position: fixed !important;
    top: 0 !important;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    left: 0;
    z-index: 100;
  }
}
.reveal-modal{
  @media only screen and (max-width: 425px){
    width: 94%;
    margin-left: -47%;
  }
}
.login-modal{
  padding: 0;
  background: rgba(#fff, 0.1);
  @media only screen and (min-width: 768px){
    width: 700px;
    margin-left: -350px;
  } 
  h3{
    border-bottom: 4px solid darken($blue, 15%);
    border-radius: 5px 5px 0 0;
    background: rgba($blue, 0.9);
    color: #fff;
    margin-bottom: 0;
    padding: 5px 32px;
    
  }
}
.login-modal-inside{
  padding: 1.875em 1.875em;
  background: #fff;
  @media only screen and (max-width: 425px){
    padding: 1.875em 1.25em 0;
  }
}
.close-reveal-modal{
  @include transition(all 0.4s ease);
  color: #fff !important;
  padding: 4px 8px;
  border-radius: 3px;
  &:hover{
    background: darken($blue, 5%);
  }
}
.email-login-column{
  border-left: 1px solid #ddd;
  position: relative;
  padding: 0 0 0 40px;
  @media only screen and (max-width: 768px){
    border-left: none;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 40px 0 0;
  }
  & .or-span{
    position: absolute;
    left: -18px;
    top: 40%;
    margin-top: -2px;
    background: $blue;
    color: #fff;
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 30px; 
    @media only screen and (max-width: 768px){
      top: -15px;
      left: 50%;
      margin-left: -2px;
    }
  }
}
.login-form{
  input, label{
    font-size: 17px;
    font-family: 'SansationRegular';
  }
  .button{
    margin-top: 20px;
  }
}
.check-box-label{
  display: inline;
  vertical-align: middle;
  margin-left: 5px;
}
.sign-up-modal{
  @extend .login-modal;
}
.sign-up-modal-inside{
  @extend .login-modal-inside;
}
.email-sign-up-column{
  @extend .email-login-column;
}
.sign-up-form{
  @extend .login-form;
  .button{
    margin-top: 10px;
  }
}

/** FACEBOOK BUTTON **/
.fb-column{
  padding-left: 0;
  padding-right: 1.875em;
  @media only screen and (max-width: 769px){
    padding-right: 0;
  }
}
.facebook-login{
  margin: 100px auto 10px;
  @include background-image(linear-gradient(#6f8dca, #5872aa));
  @include border-radius(4px);
  color: #fff;
  max-width: 230px;
  @media only screen and (max-width: 326px){
    max-width: 145px;
  }
  @media only screen and (max-width: 769px){
    margin-top: 15px;
  }
  &:hover{
    @include background-image(linear-gradient(#5872aa, #6f8dca));
  }
}
.fb-left{
  padding: 0 10px 0 15px;
  vertical-align: bottom !important;
  height: 35px !important;
  line-height: 36px !important;
  display: inline-block;
}
.fb-main{
  vertical-align: top;
  padding: 10px 13px;
  display: inline-block;
  border-left: 1px solid;
  &:after{
    content: "Login with Facebook";
    @media only screen and (max-width: 326px){
      content: "Facebook";
    }
  }
}
.fb-explain{
  line-height: 1.2em;
  text-align: center;
  font-size: 0.9em;
  @media only screen and (max-width: 769px){
    margin-bottom: 20px;
  }
}