@import "compass";
@import "settings";
@import "foundation";
@import "header";
.order-box-bg-full{
  @include transition(margin 0.6s ease);
  background: #ececec;
  padding: 15px 0 20px 0;
  position: relative;
  margin-top: -149px;
  margin-bottom: 40px;
  border-bottom: 4px solid $blue;
  @media only screen and (max-width: 600px){
    margin-top: -341px;
    background: transparent;
  }
}
.new-order-btn{
  border-radius: 0 0 5px 5px;
  bottom: -61px;
  position: absolute;
  right: 25%;
  z-index: 9996;
  @media only screen and (max-width: 600px){
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  @media only screen and (min-width: 600px) and (max-width: 1000px){
    right: 15%;
  }
  @media only screen and (min-width: 1000px) and (max-width: 1500px){
    right: 20%;
  }
}
.order-box-wrapper{
  position: relative;
  h3{
    color: #fff;
    text-align: center;
    font-family: 'Lobster13Regular';
  }
}
.p-date-wrapper{
  list-style: none;
  position: relative;
  text-align: center;
  overflow: visible !important;
  margin: 0 !important;
}
.p-date-box{
  display: inline-block;
  width: 18%;
  margin: 1% !important;
  border-radius: 2px;
  font-weight: bold;
  color: #555;  
  @media only screen and (max-width: 450px){
    display: block !important;
    float: none !important;
    width: 98%;
    height: auto;
  }
}
.p-date-button{
  @include transition(background 0.4s ease);
  @include transition(border 0.4s ease);
  background: #f2f2f2;
  border-radius: 1px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  padding: 35px 20px;
  color: #555;
  &:hover{
    background: #efefef;
  }
  &.active{
    background: $green;
    @include transition(border 0.4s ease);
    border: 1px solid darken($green, 10%);
    color: #fff;
  }
  @media only screen and (max-width: 450px){
    padding: 16px 20px;
  }
  @media only screen and (min-width: 450px) and (max-width: 520px){
    padding: 16px 7px;
  }
  @media only screen and (min-width: 520px) and (max-width: 627px){
    padding: 16px 15px;
  }
  @media only screen and (min-width: 627px) and (max-width: 768px){
    padding: 16px 30px;
  }
}
.p-time-btn{
  @extend .p-date-button;
  padding: 10px;
  text-align: center;
  @media only screen and (max-width: 590px){
    
  }
}
.morning{
  font-weight: bold;
  @include grid-column(6);
  @media only screen and (max-width: 600px){
    @include grid-column(12);
    margin-bottom: 15px;
  }
}
.evening{
  @extend .morning;
}
.afternoon{
  @extend .morning;
}
.go-to-step2{
  float: right;
}

// **** Step 2 **** \\
.service-wrapper{
  text-align: center;
  h4{
    text-align: left;
  }
  h6{
    text-align: left;
    margin-top: -10px;
  }
}
.service-btn-columns{
  @include grid-column(6);
  @media only screen and (max-width: 500px){
    @include grid-column(12);
  }
}
.wnf-btn{
  @extend .p-date-button;
  width: 100%;
  padding: 25px;
  font-size: 1.3em;
  margin: 0 0 10px;
  position: relative;
  &.active{
    background: $green;
    color: #fff;
    &:hover{
      background: darken($green, 10%);
      color: #fff;
    }
  }
  @media only screen and (max-width: 500px){
    padding: 20px;
  }
}
.dc-btn{
  @extend .wnf-btn;
}
.check-box {
  border-right: 1px solid #CDCDCD;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  span{
    color: #999;
    font-size: 1.2em;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    top: 50%;
    margin-top: -11px;
  }
  .icon-check{
    color: #fff;
  }
}
.notes-wrapper{
  position: relative;
  padding: 25px 0 0;
  margin-bottom: 10px;
  textarea{
    margin-bottom: 0;
  }
}
.add_p_notes{
  top: 0;
  position: absolute;
  cursor: pointer;
  right: 0;
}
.add_d_notes{
  @extend .add_p_notes;
}
.add_c_notes{
  @extend .add_p_notes;
}
.p-d-columns{
  @include grid-column(6);
  @media only screen and (max-width: 650px){
    @include grid-column(12);
    margin-bottom: 20px;
  }
}
.date-title {
  background: none repeat scroll 0 0 #3E5B8C;
  color: #FFFFFF;
  margin-bottom: 0;
  padding: 5px 15px;
}
.p-d-wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 5px 15px;
}
.date-display {
  padding: 0 10px;
}

.exp-reg-wrapper {
  background: none repeat scroll 0 0 #FFFFCC;
  padding: 15px 15px;
  border-top: 1px solid darken(#FFFFCC, 45%);
}

.express-wrapper{
  text-align: center;
  span{
    font-size: 1.1em;
    line-height: 1.3em;
  }
  .button{
    @include transition(all 0.4s ease);
    padding: 10px 15px;
    font-size: 1.05em;
    width: 60%;
    text-align: right;
    @media only screen and (max-width: 400px){
      width: 90%;
    }
    @media only screen and (min-width: 400px) and (max-width: 600px){
      width: 75%;
    }
    @media only screen and (min-width: 600px) and (max-width: 650px){
      width: 45%;
    }
    @media only screen and (min-width: 650px) and (max-width: 800px){
      width: 90%;
    }
    @media only screen and (min-width: 800px) and (max-width: 950px){
      width: 70%;
    }
  }
}
.regular-wrapper{
  @extend .express-wrapper;
}
.switch-exp {
  float: right;
  margin-bottom: 0;
  margin-top: 10px;

}
.switch-reg{
  @extend .switch-exp;
  border: 1px solid $red !important;
}