$blue: #3E5B8C;
$red: #b31f24;
$light-green: #A9FCA9;
$green: #89D864;
$dark-green: #314922;
$chosen: #555;

@import 'compass';
.group:after {
  content: "";
  display: table;
  clear: both;
}
.center{
  text-align: center;
}
body{
  background: #f2f2f2;
  padding: 65px 0 0 0;
  
  & .welcome{
    background: $blue;
    @media only screen and (max-width: 500px){
      background: #fff;
    }
  }
}
label{
  font-size: 20px !important;
  @media only screen and (max-width: 768px){
    font-size: 17px !important;
  }
}
input{
  font-size: 20px !important;
  @include transition(all 0.1s ease !important);
  border: 1px solid rgba(0, 0, 0, .14) !important;
  box-shadow: none !important;
  @media only screen and (max-width: 768px){
    font-size: 17px !important;
  }
}
textarea{
  @extend input;
  font-size: 17px !important;
}
select{
  @extend input[type="text"];
  @extend input;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid #dcdcdc !important;
  padding: 0.4em 0.5em;
  &:focus{
    background: #fafafa;
    border-color: #999
  }
  &:active{
    background: #fafafa;
    border-color: #999
  }
}
input[type="submit"]{
  line-height: 2em;
}
.custom{
  &.dropdown{
    height: 3.2em !important;
    @media only screen and (max-width: 768px){
      height: 2.7em !important;
    }
    
    li{
      font-size: 20px !important;
      @media only screen and (max-width: 768px){
        font-size: 17px !important;
      }
    }
    & .current, & .selector{
      font-size: 20px !important;
      @media only screen and (max-width: 768px){
        font-size: 17px !important;
      }
    }
  }
}
.button{
  font-family: 'SansationRegular';
  background: $red;
  border: none;
  box-shadow: none;
  &:hover, &:focus{
    background: lighten($red, 10%);
  }
  &:active{
    background: darken($red, 5%);
  }
  &.chosen{
    background: lighten($blue, 15%);
    color: #fff;
  }
  &.tertiary{
    background: $green;
    color: $dark-green;
    &:hover{
      background: lighten($green, 5%);
    }
    &:active{
      background: darken($green, 5%);
    }
  }
  &.secondary{
    color: #555 !important;
    background: #f2f2f2 !important;
    border: 1px solid #dcdcdc !important;
    &:hover{
      background: darken(#f2f2f2, 3%) !important;
      @media only screen and (max-width: 500px){
        background: #f2f2f2 !important;
      }
    }
  }
}
button.disabled, button[disabled], .button.disabled, .button[disabled]{
  background: $red;
  border: none;
  &:hover{
    background: $red;
  }
}
.extend-input-button{
  @extend input;
}
.alert-box{
  &.alert{
    background: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
  }
  ul{
    margin-bottom: 0;
  }
  li{
    list-style: none;
  }
  &>span{
    line-height: 1.4em;
    font-size: 1.1em;
  }
}
.sign-up-form{
  & .field_with_errors{
    input{
      border-color: #B94A48;
    }
  }
}

@font-face {
  font-family: 'AirstreamRegular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Airstream-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/Airstream-webfont.svg#AirstreamRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansationRegular';
  src: url('fonts/Sansation_Regular-webfont.eot');
  src: url('fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Sansation_Regular-webfont.woff') format('woff'),
       url('fonts/Sansation_Regular-webfont.ttf') format('truetype'),
       url('fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Lobster13Regular';
  src: url('fonts/Lobster_1.3-webfont.eot');
  src: url('fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Lobster_1.3-webfont.woff') format('woff'),
       url('fonts/Lobster_1.3-webfont.ttf') format('truetype'),
       url('fonts/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
       
  font-weight: normal;
  font-style: normal;
}

//** Parsley Errors **/
.parsley-error-list{
  margin-top: -0.5em;
  li{
    list-style: none;
    color: #B94A48;
  }
}
input{  
  &.parsley-error{
    border: 1px solid #EED3D7 !important;
    &:hover, &:focus, &:active{
      border: 1px solid #EED3D7 !important;
    }
  }
}
