@import 'settings';
@import 'compass';
.welcome-loading {
  background: rgba(#000, 0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  & .icon-spinner{
    font-size: 3.5em;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -40px;
  }
}
.token-loading{
  @extend .welcome-loading;
}
.welcome-header{
  margin-top: 35px !important;
  h1{
    font-family: 'Lobster13Regular';
    margin-bottom: 20px;
    color: $blue;
  }
  @media only screen and (max-width: 768px){
    h1{
      text-align: center;
      margin-bottom: 5px;
    }
    margin: 5px 0 45px !important;
  }
}
.profile-completion{
  padding-top: 14px;
  position: relative;
}
.meter-text{
  position: absolute;
  bottom: -25px;
  right: 17px;
  color: #fff;
  font-weight: bold;
  @media only screen and (max-width: 500px){
    color: #333;
  }
}
.percentage{
  position: absolute;
  right: 26px;
  top: 22px;
  font-size: 1.5em;
  font-weight: bold;
}
.meter{
  background: #f8f8f8;
  height: 40px;
  border-radius: 2px;
  padding: 0px;
  @media only screen and (max-width: 500px){
    background: #dcdcdc;
  }
  & > span{
    @include transition(all 0.7s ease);
    display: block;
    height: 100%;
    border-radius: 3px 1px 1px 3px;
    background: #89D864;
    
  }
}
.welcome-container {
  border: 20px solid $blue;
  padding: 20px 95px;
  background: #fff;
  @media only screen and (max-width: 450px){
    border: 15px solid $blue;
    padding: 20px;
  }
  
  h3{
    margin-bottom: 40px;
  }
}
.save-con{
    margin-top: 40px;

    @media only screen and (max-width: 768px){
      width: 100%;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

//** Profile Form **//
.cell-phone{
  position: relative;
}
.show-reg-phone{
  position: absolute;
  right: 15px;
  bottom: -5px;
  font-size: 0.95em;
  cursor: pointer;
  color: $blue;
}

//** service points **/
.service-points-wrapper{
  h3{
    margin-bottom: 0;
  }
}

//** billing **/
.button{
  &.billing-button{
    width: 100%;
    margin: 0 auto !important;
    background: #333;
    color: #fff;
    &.secondary{
      background-color: #E9E9E9;
      border-color: #D0D0D0;
      color: #333333;
      &:hover{
        background-color: darken(#E9E9E9, 7%)
      }
    }
    @media only screen and (max-width: 768px){
    margin-bottom: 0;
    width: 90%;
    }
  }
}
.cash-column{
  @media only screen and (max-width: 768px){
    
  }
}
.billing-button{
  &.cc-button{
    @media only screen and (max-width: 768px){
      border-radius: 3px 3px 0 0;
    }
  }
  &.cash-button{
    @media only screen and (max-width: 768px){
      border-radius: 0 0 3px 3px;
    }
  }
}
.token-form-wrapper{
  margin-top: 0;
  padding: 30px 10px 10px;
  border: 1px solid #ddd;
  text-align: center;
  position: relative;
  & .button{
    
    width: 100%;
  }
  & .row{
    text-align: left;
  }
  & .is-safe {
    position: absolute;
    top: 15px;
    right: 10px;
  }
}
.cc-num-form{
  margin-bottom: 0;
}
.cc-num-button{
  @media only screen and (max-width: 768px){
    border-radius: 5px 5px 0 0;
  }
}