<header class="main-header">
  <div class="header-container row">
    <div class="logo">
      <%= link_to "Nettoyeurs Express", root_path, class: "logo-img" %>
    </div>
    <nav class="main-nav">
      <ul class="inline-list">
      <% if user_signed_in? %>
        <li>
          <a href="#" data-dropdown="account-dropdown"><%= current_user.email %> <%= "(admin)" if current_user.admin?  %> <span class="icon-caret-down"></span></a>
          <ul id="account-dropdown" class="f-dropdown account-dropdown" data-dropdown-content>
            <li><%= link_to('Account', account_path) %></li>
            <li><%= link_to('Orders', account_orders_path) %></li>
            <li><%= link_to 'Service Points', controller: :account, action: :service_points %></li>
            <li><%= link_to('Billing', account_billing_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>  
      <% else %>
      <li>
        <a href="#" data-reveal-id="sign-up-modal">Sign Up</a>
      </li>
      <li>
        <a href="#" data-reveal-id="login-modal">Login</a>
      </li>
      <% end %>
      <li>
        <a href="#" data-dropdown="help-dropdown" class="help-link"><span class="icon-info-sign"></span><span class="icon-caret-down"></span></a>
        <ul id="help-dropdown" class="f-dropdown help-dropdown" data-dropdown-content>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </li>
      </ul>
    </nav>
  </div>  
</header>

