<% if notice %>
  <div class="notification-bar notice">
      <%= notice %>
  </div>
<% elsif alert %>
  <div class="notification-bar alert-box alert">
      <%= alert %>
  </div>
<% else %>
  <div class="notification-bar alert-box" style="display:none">
  </div>
<% end %>