<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      
      
      <ul class="inline-list">
        
        <% if user_signed_in? %>
          <li><%= link_to "Users", controller: "administrator", action: "users" %></li>
          <li><%= link_to "Orders", controller: "administrator", action: "orders"  %></li>
          <li><%= link_to "Routes", controller: "administrator", action: "routes"  %></li>
          <li><%= link_to "Postals", controller: "administrator", action: "postal_errors"  %></li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
          </li>
          <li><%= current_user.email %></li>
          <% if current_user.admin? %>
            (admin)
          <% end %>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>  
          </li>
        <% end %>
      </ul>
      

      <%= yield %>
    </div>
    

    <%= javascript_include_tag "application" %>
  </body>
</html>
